* {
    padding: 0;
    margin: 0;
    /* font-family: 'Exo', sans-serif; */
    box-sizing: border-box;
}

body {
    display:grid ;
    place-items:center ;
    height: 100vh;
    background: #d4e0ee;
}
#container{
    width: 500px;
    background-color: #f2f2f2;
    border-radius: 0px 18px 0px 0px;
    padding-bottom: 5px;

    
    
}
#question{
    color: white;
    background-color:#FF5235;
    font-size: 33px;
    top: 50%;
    /* display:grid ; */
    /* place-items:center ; */
   
    padding: 15px 0 0 15px;
    border-radius: 0px 18px ;
    margin-bottom: 50px;
    height:80px;
    font-family: 'Open Sans', sans-serif;
}
#option1{
    display: flex;
    
    border: #FF5235 solid ;
    border-radius: 10px;
    font-size: 30px;
    margin: 5px 10px;
    
    
}
#A{
    background-color: #FF5235;
    height: 100%;
    width: 37px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
#option1 h5 {
    padding-left: 11px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    


}
#option1 h5:hover{
    cursor: pointer;
    margin-left: 10px;
    transition: .2s;
}
h4{
    font-size: 30px;
    border: #FF5235 solid ;
    border-radius: 7px;
    margin: 5px;
    

}
#btn{
    background-color: #FF5235;
    border: #FF5235 solid;
    border-radius: 9px;
    width: 53px;
    height: 23px;
}
.foot{
    
    justify-content:space-between;
    display: flex;
    margin-top: 25px;
    /* border: solid #FF5235; */
    border-radius: 9px;
    border-top:solid #FF5235 ;
    border-bottom: solid #FF5235 ;
    width: 80%;
    margin-left: 10%;
}
#footnum{
    font-size:20px ;
    font-weight: bold;

}
.qletter{
    background-color: #FF5235;
}